# 忽略数据集
CSFND/data_files/
gossipcop/top_img/


# 忽略预训练模型
CSFND/model/

# 忽略输出结果 .pt
CSFND/*.pt

# 忽略编译文件
CSFND/__pycache__/
/weibo_dataset/nonrumor_images/
/weibo_dataset/rumor_images/
/twitter_dataset/images/
/twitter_dataset/origin/
